@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background-color: #ffffff;
  /* overflow-x: hidden !important; */
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  @apply px-6 md:px-8 lg:px-24 xl:px-28 2xl:px-32 mx-auto;
}



/* Big screen size Media Query */
@media screen and (min-width: 1400px) {
  .custom-container {
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1600px) {
  .custom-container {
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1921px) {
  .custom-container {
    width: 1920px;
    margin: 0 auto;
  }
}

.swiper-pagination-bullet {
  background-color: #eff1f0 !important;
  opacity: 1 !important;
  width: 15px !important;
  height: 15px !important;
}

/* Active pagination bullet color */
.swiper-pagination-bullet-active {
  background-color: #f97316 !important;
}



